// COLORS

$colorPrincipal: #ed3456;
$colorSecondary: #4e1166;
$colorBackground: rgba(78,17,102,0.25);
$colorAccent: #fa7035;
$colorWhite: #fff;
$colorLinkMenu: #f0f0f0;
$timing        : 265ms;
$iconColor     : #002A8F;
$accent        : #00B5F5;
$bluefade      : #0043E0;
$gradient      : #00B5F5;



// PADDINGS
$layoutPadding: 2vh 5vw;



//LINKS AND MENUS
// STANDARD MENU AND LINK
$menuStandard: none;





// TYPOS

$fontTitle: 'Oswald', sans-serif;
$fontSubTitle: 'Montserrat', sans-serif;
$fontBase: 'Montserrat', sans-serif;


// MEDIA QUERYS

$widthTablet: 768px;
$widthDesktop: 1024px;