* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // DEBUG
    // border: 1px solid red; 
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
// body {
//     @include paddingNormal;
// }